* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* width: 100%; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    /* border-bottom: 2px solid #f1f1f1; */
    margin-left: 165px;
    margin-right: 165px
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #5c5cfc;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.login {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px 15px;
}


.get-started {
    text-decoration: none;
    background: #5c5cfc;
    color: white;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s;
}

.get-started:hover {
    background: white;
    color: #5c5cfc;
    border: 2px solid #5c5cfc;
}

.generalcreate {
    display: flex;
    align-items: center;
    margin-top: 257px;
    margin-left: 12px;
    margin-right: 12px;
}

.create {
    /* display:flex; */
    margin-left: 200px;
    margin-top: 100px;
    font-size: 25px;
    width: 499px;
    height: 355px;
}

.create p {
    margin-top: 24px;
    font-size: medium;
    color: gray;
}

.mainspan {
    color: blueviolet;
}

.mainspan2 {
    color: purple;
}

.currency {
    background-image: url(/backgroundimg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #191F2B;
    height: 1101px;
    margin-top: 147px;

}

.fun h1 {
    font-family: Gilroy-Bold;
    font-size: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 80px;
    color: white;
    padding-left: 384px;
    padding-right:383px;
}

/* .back {

    overflow: hidden
} */
.go {
    width: 350px;
    height: 404px;
    margin-top: 400px;
    margin-left: 58px;
}
.general{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 564px;
    height: 600px;
    margin-top: 231px;
    margin-bottom: 68px;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-right: 164px;
    margin-left: 304px;
}
.box h3{
    margin-top: 32px;
    margin-left: 32px;
    color: #191F2B
}
.box select{
    width:500px;
    height: 50px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 8px;
    border: none;
    background-color: #F5F5F5;
    padding-left: 50px;
}
.box input{
    width: 500px;
    height: 50px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    border-radius: 8px;  
    border: none;
    outline: none;
    background-color: #F5F5F5; 
    padding-left: 30px;  
}
.box-image{
    margin-top: 16px;
    padding-left: 244px;
    padding-right: 26px;
}

.exchange{
    /* position: relative; */
    background: linear-gradient(to right,#604AED, #CF03F0B8) ;
    background-blend-mode:color;
    padding: 40px;
}
.exchange-2 p{
    margin-top:-20px;
    text-align: center;
}
.holder{
    position: relative;
}

.dollar{
    position: absolute;
    top: 30px; 
    left:50px;   
}
.money{
    position: absolute;
    top:1690px; 
    /* left:17px; */
    right: 550px; 
}
.circle{
    background-color: #604AED;
    width: 500px;
    height: 60px;
    border-radius: 10px;
    margin-left: 32px;
    margin-top: 16px;
}
.circle h1{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 20px;
    color: white;
}
.kash{
    font-family: Gilroy-Bold;
    font-size: 20px;
    margin-top: 187px;
    text-align: center;
    color: #191F2B;
}
.kash p{
    font-family: Gilroy-Regular;
    font-size: 16px;
    color: #B5B5B5;
    text-align: center;
    margin-top: 8px;
    height: 19px;
    opacity: 0.7px;
}
.bluelogo{
   
    margin-top: 80px;
    padding-left: 164px;
}
.bluelogo h1{
    font-family: Gilroy-Bold;
    font-size: 24px;
    text-align: left;
    margin-top: 40px;
    color: #191F2B;
}
.bluelogo p{
    width: 340px;
    height: 78px;
    margin-top: 40px;
    left: 164px;
    opacity: 0px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 25.6px;
    text-align: left;
    color: #8C8F95;
}
.mag{
    /* width: 486.66px; */
    height: 400px;
    margin-top: 10px;
    margin-left: 504px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    position: absolute;
    color: #604AED;
}
.logoo img{
    width: 120px;
height: 120px;
margin-top: 40px;
margin-left: 549px;
gap: 0px;
opacity: 0px;

}
.logoo h1{
   margin-top: 40px;
   margin-left: 549px;
   font-family: Gilroy-Bold;
font-size: 24px;
line-height: 28.13px;
}
.logoo p{
    width: 340px;
    height: 78px;
    margin-top: 40px;
    margin-left: 549px;
    color: #8C8F95;
    opacity: 0px;
    font-family: Gilroy-Regular;
    font-size: 16px;
    line-height: 25.6px;
}
.vec{
    /* width: 523px; */
height: 400px;
top: 2593px;
margin-left: 353px;
gap: 0px;
border: 4px 0px 0px 0px;
opacity: 0px;
}
.machine{
    margin-top: 10px;
    margin-left: 934px;
    /* margin-right: 386px; */
    width: 120px;
height: 120px;
}
.bank h1{
    margin-top: 40px;
    margin-left: 700px;
    font-family: Gilroy-Bold;
    font-size: 24px;
    height: 30px;
    width: 361px;
    color: #191F2B;
}
.bank p{
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    margin-left: 700px;
    margin-top: 25px;
    width: 340px;
    height: 78px;
    color: #8C8F95;
    opacity: 0px;
}
.learning{
    width: 450px;
 margin-left: 300px;
 margin-top: 146px;
 font-size: 48px;
 text-align: center;
 color: #191F2B;
 
}
.learning p{
   margin-top: 8px;
   width: 573px;
   
}
.moving{
    margin-top: 70px;
    margin-right: 160px;
}
.radius{
    width: 280px;
    height: 430px;
    top: 4180px;
    margin-right: 165px;
    gap: 0px;
    opacity: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 3.76px 18.81px 0px #170B6333;
    position: absolute;
}
.works{
    margin-top: 27.25px;
    margin-left: 120px;
    /* width: 22.71px; */
    height: 22.71px;
    gap: 0px;
    opacity: 0px;
}
.works h1{
    font-family: Gilroy-Bold;
    font-size: 13.63px;
    line-height: 15.97px;
    text-align: center;
    width: 62px;
    height: 17px;
}
.works p{
height: 20px;
width: 300px;
margin-right: 200px;

}

